.container-menu {
  display: block;
  position: sticky;
  top: 1rem;
  padding: 1rem;
  padding-top: 0;
  height: auto;
  height: 100vh;
  .title-item {
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    margin-top: .7rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
    display: block;
  }
  .menu {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    height: auto;
    transition: all 0.3s ease;
    .item {
      display: block;
      padding: 0.5rem 0;
      margin-bottom: 0.2rem;
      color: #4B4C4F;
      cursor: pointer;
      text-transform: capitalize;
      transition: all 0.3s ease;
      padding-left: .7rem;
      width: 90%;
      line-height: 1rem;
      display: flex;
      align-items: center;
      border-bottom: 1px solid transparent;
      font-size: .85rem;
      &.active {
        // background-color: rgba(255, 255, 255, 0.13);
        border-bottom-color: white;
        color: whitesmoke;
      }
      &:hover {
        color: whitesmoke;
      }
    }
  }
}
