.poster {
  display: block;
  width: 100%;
  position: relative;
  height: 75vh;
  overflow: hidden;
  transition: all .3s cubic-bezier(0.5, 0.5, 0.9, 1);
  &::before {
    content:'';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 10rem;
    height: 10rem;
    border: 1rem solid rgba(255, 255, 255, 0.727);
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate .7s linear infinite;
    transition: all .3s ease;
    will-change: transform;
  }
  &::after {
    content:'';
    position: absolute;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 1;
    height: 100%;
    max-height: 75px;
    transition: all .3s ease-in-out;
    background-image: linear-gradient(to bottom, transparent, black)
  }
  &.down {
    opacity: .75;
    &::after {
      max-height: 100%;
    }
  }
  .btn-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 1rem;
    left: 1rem;
    color: white;
    font-size: 1.3rem;
    font-weight: 900;
    background-color: transparent;
    border: none;
    z-index: 2;
    height: 2.5rem;
    width: 2.5rem;
    background-color: black;
    color: white;
    border-radius: 50%;
    &:focus {
      outline: none;
      cursor: pointer;
    }
  }
  .imgPoster {
    display: block;
    width: 100%;
    position: relative;
    height:100%;
    object-fit: cover;
    object-position: top;
    opacity: 0;
    transition: all .3s ease;
    will-change: transform, opacity;
    &.active {
      animation-name: in;
      animation-duration: 1.5s;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
      animation-delay: .3s;
    }
    @keyframes in {
      from {
        opacity: 0;
        transform: scale(1.5)
      }
      to {
        opacity: 1;
        transform: scale(1)
      }
    }
  }
}