<div class="container-poster" [class.active]="loaded">
  <movie-poster-backdrop [backdropPath]="movie?.backdrop_path" [backUrl]='backUrl' (onloaded)="onLoad($event)">
  </movie-poster-backdrop>
  <div class="container-info">
    <movie-poster [poster_movie]="movie?.poster_path" [loadedBackPoster]="onloadedPosterBack"></movie-poster>

    <div class="info-movie">
      <movie-percentage [percent]="movie?.vote_average * 10"></movie-percentage>
      <h2 class="title" #title>
        {{ movie?.title }}
      </h2>
      <p class="description" #overview>{{ movie?.overview }}</p>
      <p class="realese" #release>
        Fecha de estreno: {{ movie?.release_date | date:'longDate' }}
      </p>
      <p class="info" #budget>Presupuesto: {{ movie?.budget | currency }}</p>
      <!-- <p class="info" #revenue>Ingresos: {{ movie?.revenue | currency }}</p> -->
      <p class="info" #runtime>Duracion: {{ movie?.runtime }} min</p>
      <span class="status" #status>
        Estado: {{ movie?.status }}
      </span>
      <span class="total-vote" #totalVote>
        Total votos: {{ movie?.vote_count }}
      </span>
      <ul class="list-genres" #listGenres>
        <li class="item-genrer">
          generos
        </li>
        <li class="item-genrer" *ngFor="let genre of movie?.genres">
          {{ genre.name }}
        </li>
      </ul>
      <a [href]="movie?.homepage" class="homepage" target="_blank">
        Puedes conocer mas aqui
      </a>
    </div>
  </div>
</div>
<movie-footer></movie-footer>